body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:white;
}

.container {
  text-align: center;
  padding: 40px;
}

.title {
  margin-bottom: 30px;
  color:black;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
 
}

.card {
  background:blanchedalmond;
  color:black;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h2 {
  color:black;
}
.quantity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.btn {
  padding: 5px 12px;
  font-size: 18px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #87ee8c;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}